In [35]:
#functions are

def funtctionname():
    print("Created a new function")

In [36]:
funtctionname()

Created a new function

In [37]:
def functionname(a):
    print("The number is given in the parameter is ",a)

In [38]:
functionname(1)

The number is given in the parameter is  1

In [39]:
# funtctionname()

In [40]:
def functionname(a,b):
    print(a+b)

In [41]:
functionname(5,4)

9

In [42]:
def functionname(a,b):
    return a+b

In [43]:
functionname(5,4)

9

In [44]:
def nameage(name,age):
    print(f"The {name} is {age} year old")

In [45]:
nameage("f",20)

The f is 20 year old

In [46]:
nameage(20,"name")

The 20 is name year old

In [47]:
nameage(5,4)

The 5 is 4 year old

In [48]:
nameage(age = 95,name="india")

The india is 95 year old

In [49]:
# nameage("Age")

In [50]:
def mul15(n1,n2=15):
    return(f"The multplied of value with 15 is {n1}*{n2}")

In [51]:
mul15(3)

'The multplied of value with 15 is 3*15'

In [52]:
# def square():
#     def number():

    
#     return x**2

In [53]:
sp = [int(i) for i in "51"]
sum(sp)

6

In [54]:
num = "51"
int(num[0]) + int(num[1])

6

In [55]:
# divided by 3 and 5 using loop:
# #

In [57]:
student_dict = {}
for i in range(1,5):
    name = input("Enter Your Name : ")
    mark = float(input("Enter Marks : "))
    student_dict.update({name : mark})
print({key:value for key,value in student_dict.items()})

ValueError: could not convert string to float: ''

In [58]:
print(student_dict)

{}

In [59]:
names=[]
marks=[]
for i in range(5):
    keys=input("enter names:")
    names.append(keys)
    values=int(input("enter your marks:"))
    marks.append(values)
new_dict={names[i]:marks[i] for i in range(len(names))}
print(new_dict)
# print(new_dict.keys())
# print(new_dict.values())

ValueError: invalid literal for int() with base 10: ''

In [ ]:
number = 10
names=[]
marks=[]
for i in range(number):
    keys=input("enter names:")
    names.append(keys)
    values=int(input("enter your marks:"))
    marks.append(values)
new_dict={names[i]:marks[i] for i in number}
print(new_dict)

In [ ]:
n = ["abc","def","hij"]
for i in [0,1,2]:
    print(i)

0
1
2

In [ ]:
?zip

Init signature: zip(self, /, *args, **kwargs)
Docstring:
zip(*iterables, strict=False) --> Yield tuples until an input is exhausted.

   >>> list(zip('abcdefg', range(3), range(4)))
   [('a', 0, 0), ('b', 1, 1), ('c', 2, 2)]

The zip object yields n-length tuples, where n is the number of iterables
passed as positional arguments to zip().  The i-th element in every tuple
comes from the i-th iterable argument to zip().  This continues until the
shortest argument is exhausted.

If strict is true and one of the arguments is exhausted before the others,
raise a ValueError.
Type:           type
Subclasses:

In [ ]:
for i in ["abc","def","hij"]:
    print(i)

abc
def
hij

In [ ]:
print(list(range(len(str(input())))))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
obj = object()
print(type(obj))
print(dir(obj))

<class 'object'>
['__class__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__']

In [ ]:
z = [1,2,3,4,5]

In [ ]:
dir(z)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
for i in range(25):
    if i % 5 == 0:
        pass
    else:
        print(i)

1
2
3
4
6
7
8
9
11
12
13
14
16
17
18
19
21
22
23
24

In [ ]:
# Calling function
att = dir()
# Displaying result
print(att)

['In', 'Out', '_', '_3', '_4', '__', '___', '__builtin__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__spec__', '__vsc_ipynb_file__', '_dh', '_i', '_i1', '_i2', '_i3', '_i4', '_i5', '_i6', '_i7', '_i8', '_ih', '_ii', '_iii', '_oh', 'att', 'exit', 'get_ipython', 'obj', 'open', 'quit', 'z']

In [ ]:
a = "a"
b = "an"

In [ ]:
id(a)

140708131163224

In [ ]:
id(b)

1712262368176

In [ ]:
fact = 1
i = int(input("Enter the number to get the factorial"))
while i > 1:
    fact *= i
    i -= 1
print(fact)

120

In [ ]:
number = int(input("Enter the number"))

if number<2:
    print("Number is not a prime")
else:
    for i in range(2,number):
        if number%i==0:
            print()

In [ ]:
num = int(input("Enter the number: "))

# Special case for numbers less than 2
if num < 2:
    print("The number is not a prime")
else:
    for i in range(2, num):
        if num % i == 0:
            print("The number is not a prime")
            break
    else:
        # This else runs only if the for loop completes without finding a divisor
        print("The number is a prime")

The number is a prime

In [ ]:
x = 5 
y = x 
x = 10 
print(y)

5

In [ ]:
book_title = "The Great Gatsby" 
favorite_book = book_title 
book_title = "1984"      
print(favorite_book) 
print(book_title)

The Great Gatsby
1984

In [ ]:
import datetime
x = datetime.datetime.now()
print(x.strftime("%a"))

Tue

In [ ]:
print(x.strftime("%Y"))

2024

In [63]:
mylist1 = [1,5,3,2,2,3,1,4]
mylist2 = [1,7,6,6,2,1,2,3]  #out = [1,2,3] also# count the common indexed numbers count

In [64]:
result = []
for num in mylist1:
    if num in mylist2 and num not in result:
        result = result+ [num]
    else:
        pass

In [65]:
result

[1, 3, 2]

In [66]:
count = 0
for index in range(len(mylist1)):
    if mylist1[index] == mylist2[index]:
        count+=1
print(count)

2

In [88]:
mylist1 = [('X','A'),('Y','B'),('Z','A'),('X','B')]
mylist2 = [('Y','B'),('Z','A'),('X','A'),('Y','B')]
count = 0
for i in range(len(mylist1)):
    if mylist1[i][1] == mylist2[i][1]:
        print(i,mylist1[i][1],mylist1[i][1])
        count += 1
print(count)

2 A A
3 B B
2

In [91]:
mylist3 = tuple(zip(mylist1,mylist2))
mylist3

((('X', 'A'), ('Y', 'B')),
 (('Y', 'B'), ('Z', 'A')),
 (('Z', 'A'), ('X', 'A')),
 (('X', 'B'), ('Y', 'B')))

In [90]:
count = 0
for i,j in mylist3:
    if i[1] == j[1]:
        count += 1
print(count)

2

In [ ]:
#number is armstrong or not
cube_value = 0
new_number = 0
initial_value = input("Enter a number : ")
this_list = list(initial_value)
while len(this_list) > 0:
    num = int(this_list.pop())
    cube_value = pow(num,3)
    new_number += cube_value    
if initial_value == str(new_number):
    print(f"{initial_value} is an armstrong number ")
else:
    print(f"{initial_value} is not an armstrong number")

In [1]:
import random
options = ["rock", "paper", "scissors"]

while True:
    user_choice = input("Enter rock, paper, or scissors (or 'quit' to exit): ").lower()
    if user_choice == "quit":
        print("Thanks for playing!")
        break
    if user_choice not in options:
        print("Invalid choice, please try again.")
        continue

    computer_choice = random.choice(options)
    print(f"Computer chose: {computer_choice}")

    if user_choice == computer_choice:
        print("It's a tie!")
    elif (user_choice == "rock" and computer_choice == "scissors") or \
         (user_choice == "scissors" and computer_choice == "paper") or \
         (user_choice == "paper" and computer_choice == "rock"):
        print("You win!")
    else:
        print("Computer wins!")

Invalid choice, please try again.
Invalid choice, please try again.
Invalid choice, please try again.
Invalid choice, please try again.
Invalid choice, please try again.
Thanks for playing!

In [ ]:
list1 = [10,1,2,4,5,14,7,5,12,2,0,1,5,6,1,2,3,4,5,6,7]
list2 = [1,3,5,8,69,6,7,89,9,2,1,2,3,65,4,89,9,4,12,3,4]

21 21

In [18]:
try:
    a = int(input("Enter a:"))
    b = int(input("Enter b:"))
    c = a/b
    print("a/b = %d"%c)
    # Using exception object with the except statement
except Exception as e:
    print("can't divide by zero")
    print(e)
else:
    print("Hi I am else block")
finally:
    print("inside finally")
print("outside exception")

a/b = 1
Hi I am else block
inside finally
outside exception

In [ ]:
# this_list = [1,2,3,4,5,6]
# x = list(map(lambda a:a**5,this_list))
# print(x)
# mydoubler = myfunc(2)
# mytripler = myfunc(3)

# print(doubler(11))
# prindt(mytripler(11))

[1, 32, 243, 1024, 3125, 7776]
22

In [5]:
dice = (1,2,3,4)
dice2 = (2,5)
print(dice+dice2)

(1, 2, 3, 4, 2, 5)

In [10]:
thistuple = ["apple", "banana", "cherry"]
del thistuple[0]
print(thistuple)

['banana', 'cherry']

In [ ]:
fruits = ("apple", "banana", "cherry","Guava")
green,*yellow= fruits

In [26]:
print(green)

apple

In [27]:
print(yellow)

['banana', 'cherry', 'Guava']

In [24]:
print(red)

Guava

In [ ]:
# thistuple = ("apple", "banana", "cherry")
# for i in 0,1,2:
#   print(thistuple[i])

apple
banana
cherry

In [ ]:
# thistuple = ("apple", "banana", "cherry")
# i = 0
# while i < len(thistuple):
#   print(thistuple[i])
#   i = i + 1

apple
banana
cherry