In [4]:
import numpy as np

In [9]:
import pandas as pd

In [10]:
pd.__version__

'2.1.4'

In [11]:
srs = pd.Series()

In [12]:
type(srs)

pandas.core.series.Series

In [13]:
srs = pd.Series(["A","B","C","D"])

In [14]:
srs

0    A
1    B
2    C
3    D
dtype: object

In [16]:
srs = pd.Series((5,3,1,4))

In [17]:
srs

0    5
1    3
2    1
3    4
dtype: int64

In [18]:
srs = pd.Series({1:1,2:2,3:3})

In [22]:
srs = pd.Series()

In [23]:
srs = pd.Series(np.array([5,6,7,5]))

In [25]:
srs

0    5
1    6
2    7
3    5
dtype: int32

In [2]:
import pandas as pd
import numpy as np
s = pd.Series()
print ("Is the Object empty?")
print(s.empty)

Is the Object empty?
True

In [3]:
srs = pd.Series([25,28,21,23,24,26,21],index = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"],name="Temp/Day")

In [4]:
srs

Sunday       25
Monday       28
Tuesday      21
Wednesday    23
Thursday     24
Friday       26
Saturday     21
Name: Temp/Day, dtype: int64

In [5]:
srs.mean()

24.0

In [6]:
srs[srs>srs.mean()]

Sunday    25
Monday    28
Friday    26
Name: Temp/Day, dtype: int64

In [8]:
srs = pd.Series(["Blue","Yellow"],index=[0,1],dtype="category")

In [9]:
srs

0      Blue
1    Yellow
dtype: category
Categories (2, object): ['Blue', 'Yellow']

In [10]:
srs.cat.ordered

False

In [12]:
len(dir(srs))

419

In [13]:
srs.str.capitalize()

0      Blue
1    Yellow
dtype: object

In [14]:
srs.str.upper()

0      BLUE
1    YELLOW
dtype: object

In [16]:
srs.str.replace("l","#$")

0       B#$ue
1    Ye#$#$ow
dtype: object

In [17]:
srs

0      Blue
1    Yellow
dtype: category
Categories (2, object): ['Blue', 'Yellow']

In [19]:
srs

0      Blue
1    Yellow
dtype: category
Categories (2, object): ['Blue', 'Yellow']

In [22]:
srs = pd.Series([1,2,3,4],index = [1,2,3,1])
srs2 = pd.Series([4,3,2,1],index = [1,2,3,4])

In [31]:
srs.add(srs2,fill_value=4)

1    5.0
1    8.0
2    5.0
3    5.0
4    5.0
dtype: float64

In [32]:
srs.add(10)

1    11
2    12
3    13
1    14
dtype: int64

In [33]:
srs.mul(10)

1    10
2    20
3    30
1    40
dtype: int64

In [34]:
srs.multiply(20)

1    20
2    40
3    60
1    80
dtype: int64

In [35]:
srs.mean()

2.5

In [36]:
srs.sum()

10

In [37]:
srs.std()

1.2909944487358056

In [38]:
srs.var()

1.6666666666666667

In [40]:
srs.is_monotonic_increasing

True

In [41]:
srs.is_monotonic_decreasing

False

In [42]:
srs.is_unique

True

In [46]:
quantiles_of_srs = srs.quantile([0.25,0.50,0.75])

In [47]:
quantiles_of_srs

0.25    1.75
0.50    2.50
0.75    3.25
dtype: float64

In [49]:
quantiles_of_srs.mean()

2.5

In [51]:
srs.agg('mean')

2.5

In [54]:
def mm(s):
    return s.max()

In [57]:
srs

1    1
2    2
3    3
1    4
dtype: int64

In [56]:
srs.agg(['mean','median',mm])

mean      2.5
median    2.5
mm        4.0
dtype: float64

In [62]:
srs.count()

4

In [60]:
srs.size

4

In [64]:
srs.nunique()

4

In [65]:
srs.max()

4