In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
pd.__version__

'2.1.4'

In [4]:
srs = pd.Series()

In [5]:
type(srs)

pandas.core.series.Series

In [6]:
srs = pd.Series(["A","B","C","D"])

In [7]:
srs

0    A
1    B
2    C
3    D
dtype: object

In [8]:
srs = pd.Series((5,3,1,4))

In [9]:
srs

0    5
1    3
2    1
3    4
dtype: int64

In [10]:
srs = pd.Series({1:1,2:2,3:3})

In [11]:
srs = pd.Series()

In [12]:
srs = pd.Series(np.array([5,6,7,5]))

In [13]:
srs

0    5
1    6
2    7
3    5
dtype: int32

In [14]:
import pandas as pd
import numpy as np
s = pd.Series()
print ("Is the Object empty?")
print(s.empty)

Is the Object empty?
True

In [15]:
srs = pd.Series([25,28,21,23,24,26,21],index = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"],name="Temp/Day")

In [16]:
srs

Sunday       25
Monday       28
Tuesday      21
Wednesday    23
Thursday     24
Friday       26
Saturday     21
Name: Temp/Day, dtype: int64

In [17]:
srs.mean()

24.0

In [18]:
srs[srs>srs.mean()]

Sunday    25
Monday    28
Friday    26
Name: Temp/Day, dtype: int64

In [19]:
srs = pd.Series(["Blue","Yellow"],index=[0,1],dtype="category")

In [20]:
srs

0      Blue
1    Yellow
dtype: category
Categories (2, object): ['Blue', 'Yellow']

In [21]:
srs.cat.ordered

False

In [22]:
len(dir(srs))

419

In [23]:
srs.str.capitalize()

0      Blue
1    Yellow
dtype: object

In [24]:
srs.str.upper()

0      BLUE
1    YELLOW
dtype: object

In [25]:
srs.str.replace("l","#$")

0       B#$ue
1    Ye#$#$ow
dtype: object

In [26]:
srs

0      Blue
1    Yellow
dtype: category
Categories (2, object): ['Blue', 'Yellow']

In [27]:
srs

0      Blue
1    Yellow
dtype: category
Categories (2, object): ['Blue', 'Yellow']

In [28]:
srs = pd.Series([1,2,3,4],index = [1,2,3,1])
srs2 = pd.Series([4,3,2,1],index = [1,2,3,4])

In [29]:
srs.add(srs2,fill_value=4)

1    5.0
1    8.0
2    5.0
3    5.0
4    5.0
dtype: float64

In [30]:
srs.add(10)

1    11
2    12
3    13
1    14
dtype: int64

In [31]:
srs.mul(10)

1    10
2    20
3    30
1    40
dtype: int64

In [32]:
srs.multiply(20)

1    20
2    40
3    60
1    80
dtype: int64

In [33]:
srs.mean()

2.5

In [34]:
srs.sum()

10

In [35]:
srs.std()

1.2909944487358056

In [36]:
srs.var()

1.6666666666666667

In [37]:
srs.is_monotonic_increasing

True

In [38]:
srs.is_monotonic_decreasing

False

In [39]:
srs.is_unique

True

In [40]:
quantiles_of_srs = srs.quantile([0.25,0.50,0.75])

In [41]:
quantiles_of_srs

0.25    1.75
0.50    2.50
0.75    3.25
dtype: float64

In [42]:
quantiles_of_srs.mean()

2.5

In [43]:
srs.agg('mean')

2.5

In [44]:
def mm(s):
    return s.max()

In [45]:
srs

1    1
2    2
3    3
1    4
dtype: int64

In [46]:
srs.agg(['mean','median',mm])

mean      2.5
median    2.5
mm        4.0
dtype: float64

In [47]:
srs.count()

4

In [48]:
srs.size

4

In [49]:
srs.nunique()

4

In [50]:
srs.max()

4

In [51]:
import pandas as pd

In [52]:
srs = pd.Series([25,28,27,34,25,31,26])

In [53]:
srs.name="Temperature"

In [54]:
srs.mean()

28.0

In [55]:
srs.agg(["mean","sum","quantile"])
srs.quantile([0.1,0.2,0.3,0.4,0.5])

0.1    25.0
0.2    25.2
0.3    25.8
0.4    26.4
0.5    27.0
Name: Temperature, dtype: float64

In [56]:
srs

0    25
1    28
2    27
3    34
4    25
5    31
6    26
Name: Temperature, dtype: int64

In [57]:
srs.max()

34

In [58]:
srs.astype("i1")

0    25
1    28
2    27
3    34
4    25
5    31
6    26
Name: Temperature, dtype: int8

In [59]:
import numpy as np

In [60]:
np.iinfo("i4")

iinfo(min=-2147483648, max=2147483647, dtype=int32)

In [61]:
df = pd.read_csv(r"C:\Users\CHROMIUM\Desktop\SMEC LAB\Datascience\Dataset\vehicles.csv")

C:\Users\CHROMIUM\AppData\Local\Temp\ipykernel_33252\2248714282.py:1: DtypeWarning: Columns (68,70,71,72,73,74,76,79) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r"C:\Users\CHROMIUM\Desktop\SMEC LAB\Datascience\Dataset\vehicles.csv")

In [62]:
city_mpg = df.city08
highway_mpg = df.highway08

In [63]:
city_mpg

0        19
1         9
2        23
3        10
4        17
         ..
41139    19
41140    20
41141    18
41142    18
41143    16
Name: city08, Length: 41144, dtype: int64

In [64]:
city_mpg.convert_dtypes()

0        19
1         9
2        23
3        10
4        17
         ..
41139    19
41140    20
41141    18
41142    18
41143    16
Name: city08, Length: 41144, dtype: Int64

In [65]:
city_mpg.mean()

18.369045304297103

In [66]:
city_mpg.astype("Int16")

0        19
1         9
2        23
3        10
4        17
         ..
41139    19
41140    20
41141    18
41142    18
41143    16
Name: city08, Length: 41144, dtype: Int16

In [67]:
city_mpg.nbytes

329152

In [68]:
city_mpg.astype('i1').nbytes

41144

In [69]:
np.iinfo("int16")

iinfo(min=-32768, max=32767, dtype=int16)

In [70]:
make = df.make

In [71]:
type(make)

pandas.core.series.Series

In [72]:
make.dtype

dtype('O')

In [73]:
make.nbytes

329152

In [74]:
make.memory_usage(deep=True)

2606399

In [75]:
make.astype("category").memory_usage(deep=True)

95892

In [76]:
make.to_frame()

             make
0      Alfa Romeo
1         Ferrari
2           Dodge
3           Dodge
4          Subaru
...           ...
41139      Subaru
41140      Subaru
41141      Subaru
41142      Subaru
41143      Subaru

[41144 rows x 1 columns]

In [77]:
city_mpg[city_mpg.gt(20)].shape

(10272,)

In [78]:
make.value_counts()

make
Chevrolet                      4003
Ford                           3371
Dodge                          2583
GMC                            2494
Toyota                         2071
                               ...
Volga Associated Automobile       1
Panos                             1
Mahindra                          1
Excalibur Autos                   1
London Coach Co Inc               1
Name: count, Length: 136, dtype: int64

In [79]:
top5 = make.value_counts().index[:5]

In [80]:
top5

Index(['Chevrolet', 'Ford', 'Dodge', 'GMC', 'Toyota'], dtype='object', name='make')

In [81]:
def gen5(val):
    if val in top5:
        return val
    else:
        return "Other"

In [82]:
make.apply(gen5)

0        Other
1        Other
2        Dodge
3        Dodge
4        Other
         ...
41139    Other
41140    Other
41141    Other
41142    Other
41143    Other
Name: make, Length: 41144, dtype: object

In [83]:
make.where(make.isin(top5),other="Other")

0        Other
1        Other
2        Dodge
3        Dodge
4        Other
         ...
41139    Other
41140    Other
41141    Other
41142    Other
41143    Other
Name: make, Length: 41144, dtype: object

In [84]:
make.mask(~make.isin(top5),other="Others")

0        Others
1        Others
2         Dodge
3         Dodge
4        Others
          ...
41139    Others
41140    Others
41141    Others
41142    Others
41143    Others
Name: make, Length: 41144, dtype: object

In [85]:
top10 = make.value_counts().index[:10]

In [86]:
(make.where ( make . isin ( top5 ) , ' Top10 ').where( make . isin ( top10 ) , ' Others ')).value_counts()

make
 Others      19400
 Top10        7222
Chevrolet     4003
Ford          3371
Dodge         2583
GMC           2494
Toyota        2071
Name: count, dtype: int64

In [87]:
srs = pd.Series(np.select([make.isin(top5),make.isin(top10)],[make,"Top10"],"Others"))

In [88]:
srs.value_counts()

Others       19400
Top10         7222
Chevrolet     4003
Ford          3371
Dodge         2583
GMC           2494
Toyota        2071
Name: count, dtype: int64

In [89]:
cyl =df.cylinders

In [90]:
cyl.isna().sum()

206

In [91]:
mask = cyl.isna()

In [92]:
make[mask]

7138     Nissan
7139     Toyota
8143     Toyota
8144       Ford
8146       Ford
          ...
34563     Tesla
34564     Tesla
34565     Tesla
34566     Tesla
34567     Tesla
Name: make, Length: 206, dtype: object

In [93]:
cyl[cyl.isna()]

7138    NaN
7139    NaN
8143    NaN
8144    NaN
8146    NaN
         ..
34563   NaN
34564   NaN
34565   NaN
34566   NaN
34567   NaN
Name: cylinders, Length: 206, dtype: float64

In [94]:
cyl.interpolate().mean()

5.714757923391017

In [95]:
cyl.fillna(0).mean()

5.6884600427765895

In [96]:
cyl.dropna().mean()

5.717084371488593

In [97]:
cyl.ffill().mean()

5.715049581956057

In [98]:
cyl.fillna(cyl.mean()).mean()

5.717084371488592

In [99]:
cyl.fillna(500).mean()

8.191862726035389

In [100]:
city_mpg.sort_values(ascending=False)

32599    150
31256    150
33423    150
34564    140
34563    138
        ...
21060      6
35887      6
37161      6
7901       6
34557      6
Name: city08, Length: 41144, dtype: int64

In [101]:
city_mpg.sort_values().sort_index().sort_values(ascending=True)

7901       6
34557      6
37161      6
21060      6
35887      6
        ...
34563    138
34564    140
32599    150
31256    150
33423    150
Name: city08, Length: 41144, dtype: int64

In [102]:
city_mpg.where(city_mpg>100,"Others").value_counts()

city08
Others    41034
126          16
122          11
124          10
101           8
128           8
120           7
102           6
110           5
121           5
137           4
112           3
118           3
150           3
129           3
132           3
138           2
106           2
136           2
127           1
115           1
140           1
114           1
107           1
123           1
125           1
131           1
104           1
Name: count, dtype: int64

In [103]:
city_mpg.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
41139     True
41140     True
41141     True
41142     True
41143     True
Name: city08, Length: 41144, dtype: bool

In [104]:
city_mpg.drop_duplicates().count()

105

In [105]:
pd.qcut(city_mpg,10,labels=list(range(1,11))).value_counts().sort_index()

city08
1     6019
2     2969
3     4503
4     3975
5     4035
6     4053
7     5318
8     2532
9     4036
10    3704
Name: count, dtype: int64

In [106]:
srs = df["co2"]

In [107]:
srs.dtype

dtype('int64')

In [108]:
srs.mean()

87.9699591678009

In [109]:
def hg(value):
    if value>srs.mean():
        return "High"
    else:
        return "Low"

In [110]:
%%timeit
aplysrs = srs.apply(hg)

1.73 s ± 27 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [112]:
# aplysrs.value_counts()

In [113]:
%%timeit
pd.Series(np.select([srs>srs.mean(),srs<=srs.mean()],["High","Low"],"others"))

5.49 ms ± 70.9 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [114]:
%%timeit
srs.where(~srs>srs.mean(),"High").where(srs>srs.mean(),"Low")

1.94 ms ± 28.8 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [115]:
highway_mpg.isna().sum()

0

In [116]:
cyl.isna().sum()

206

In [117]:
cyl

0         4.0
1        12.0
2         4.0
3         8.0
4         4.0
         ...
41139     4.0
41140     4.0
41141     4.0
41142     4.0
41143     4.0
Name: cylinders, Length: 41144, dtype: float64

In [118]:
pd.qcut(city_mpg,10)

0         (18.0, 20.0]
1        (5.999, 13.0]
2         (21.0, 24.0]
3        (5.999, 13.0]
4         (16.0, 17.0]
             ...
41139     (18.0, 20.0]
41140     (18.0, 20.0]
41141     (17.0, 18.0]
41142     (17.0, 18.0]
41143     (15.0, 16.0]
Name: city08, Length: 41144, dtype: category
Categories (10, interval[float64, right]): [(5.999, 13.0] < (13.0, 14.0] < (14.0, 15.0] < (15.0, 16.0] ... (18.0, 20.0] < (20.0, 21.0] < (21.0, 24.0] < (24.0, 150.0]]

In [119]:
srs.clip(srs.quantile(0.05),srs.quantile(0.95))

0       -1
1       -1
2       -1
3       -1
4       -1
        ..
41139   -1
41140   -1
41141   -1
41142   -1
41143   -1
Name: co2, Length: 41144, dtype: int64

In [120]:
srs.value_counts()

co2
-1      31954
 0        203
 415       66
 347       61
 378       60
        ...
 698        1
 196        1
 691        1
 226        1
 213        1
Name: count, Length: 547, dtype: int64

In [121]:
city2 = city_mpg.rename(make.to_dict())

In [122]:
city2.index

Index(['Alfa Romeo', 'Ferrari', 'Dodge', 'Dodge', 'Subaru', 'Subaru', 'Subaru',
       'Toyota', 'Toyota', 'Toyota',
       ...
       'Saab', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Subaru', 'Subaru',
       'Subaru', 'Subaru', 'Subaru'],
      dtype='object', length=41144)

In [123]:
city_mpg.rename(make).index

Index(['Alfa Romeo', 'Ferrari', 'Dodge', 'Dodge', 'Subaru', 'Subaru', 'Subaru',
       'Toyota', 'Toyota', 'Toyota',
       ...
       'Saab', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Subaru', 'Subaru',
       'Subaru', 'Subaru', 'Subaru'],
      dtype='object', length=41144)

In [124]:
city2.reset_index(drop=True)

0        19
1         9
2        23
3        10
4        17
         ..
41139    19
41140    20
41141    18
41142    18
41143    16
Name: city08, Length: 41144, dtype: int64

In [125]:
city2.loc["Subaru"]

Subaru    17
Subaru    21
Subaru    22
Subaru    19
Subaru    20
          ..
Subaru    19
Subaru    20
Subaru    18
Subaru    18
Subaru    16
Name: city08, Length: 885, dtype: int64

In [126]:
city2.loc["Fisker"]

20

In [127]:
city2.loc[["Fisker"]]

Fisker    20
Name: city08, dtype: int64

In [128]:
city2.sort_index().loc["Ferrari":"Subaru"]

Ferrari    10
Ferrari    13
Ferrari    13
Ferrari     9
Ferrari    10
           ..
Subaru     21
Subaru     21
Subaru     19
Subaru     21
Subaru     18
Name: city08, Length: 23788, dtype: int64

In [133]:
city2.loc["AM General"]

AM General    16
AM General    13
AM General    13
AM General    18
AM General    13
AM General    18
Name: city08, dtype: int64

In [140]:
city2.sort_index().loc["A":"B"]

AM General                  13
AM General                  18
AM General                  13
AM General                  16
AM General                  13
                            ..
Autokraft Limited           15
Avanti Motor Corporation    14
Avanti Motor Corporation    15
Azure Dynamics              62
Azure Dynamics              62
Name: city08, Length: 1610, dtype: int64

In [146]:
idx = pd.Index(["Dodge","Dodge"])

In [147]:
city2.loc[idx]

Dodge    23
Dodge    10
Dodge    12
Dodge    11
Dodge    11
         ..
Dodge    18
Dodge    17
Dodge    14
Dodge    14
Dodge    11
Name: city08, Length: 5166, dtype: int64

In [148]:
mask = city2>50
city2.loc[mask]

Nissan     81
Toyota     81
Toyota     81
Ford       74
Nissan     84
         ...
Tesla     140
Tesla     115
Tesla     104
Tesla      98
Toyota     55
Name: city08, Length: 236, dtype: int64

In [149]:
city2[mask]

Nissan     81
Toyota     81
Toyota     81
Ford       74
Nissan     84
         ...
Tesla     140
Tesla     115
Tesla     104
Tesla      98
Toyota     55
Name: city08, Length: 236, dtype: int64

In [150]:
cost = pd . Series ([1.00 , 2.25 , 3.99 , .99 , 2.79] ,index =[ ' Gum ' , ' Cookie ' , ' Melon ' , ' Roll ' , ' Carrots '])

In [151]:
cost.loc[' Carrots ']

2.79

In [158]:
cost.loc[[" Carrots "]]

 Carrots     2.79
dtype: float64

In [161]:
cost.mul(1.1).loc[cost>3]    #deaaling with orginal series

 Melon     4.389
dtype: float64

In [164]:
cost.mul(1.1).loc[lambda a:a>3]  #Here the updated or intermediate resultant series is adopted

 Melon       4.389
 Carrots     3.069
dtype: float64

In [166]:
city2.iloc[0]

19

In [167]:
city2.iloc[[0]]

Alfa Romeo    19
Name: city08, dtype: int64

In [168]:
city2.iloc[[0,1,-1]]

Alfa Romeo    19
Ferrari        9
Subaru        16
Name: city08, dtype: int64

In [170]:
city2.iloc[0:5]

Alfa Romeo    19
Ferrari        9
Dodge         23
Dodge         10
Subaru        17
Name: city08, dtype: int64

In [172]:
mask = city2>50
mask

Alfa Romeo    False
Ferrari       False
Dodge         False
Dodge         False
Subaru        False
              ...
Subaru        False
Subaru        False
Subaru        False
Subaru        False
Subaru        False
Name: city08, Length: 41144, dtype: bool

In [173]:
mask.to_numpy()

array([False, False, False, ..., False, False, False])

In [177]:
city2.iloc[mask.to_numpy()]

Nissan     81
Toyota     81
Toyota     81
Ford       74
Nissan     84
         ...
Tesla     140
Tesla     115
Tesla     104
Tesla      98
Toyota     55
Name: city08, Length: 236, dtype: int64

In [179]:
city2.sample(5)

Pontiac     16
Isuzu       21
Cadillac    14
BMW         23
Cadillac    22
Name: city08, dtype: int64

In [187]:
city2.filter(like="Dodg")

Dodge    23
Dodge    10
Dodge    12
Dodge    11
Dodge    11
         ..
Dodge    18
Dodge    17
Dodge    14
Dodge    14
Dodge    11
Name: city08, Length: 2583, dtype: int64

In [190]:
city2.filter(regex='(Dodge|BMW)')

Dodge    23
Dodge    10
Dodge    12
BMW      14
BMW      14
         ..
Dodge    18
Dodge    17
Dodge    14
Dodge    14
Dodge    11
Name: city08, Length: 4552, dtype: int64