In [4]:
import numpy as np

In [9]:
import pandas as pd

In [10]:
pd.__version__

'2.1.4'

In [11]:
srs = pd.Series()

In [12]:
type(srs)

pandas.core.series.Series

In [13]:
srs = pd.Series(["A","B","C","D"])

In [14]:
srs

0    A
1    B
2    C
3    D
dtype: object

In [16]:
srs = pd.Series((5,3,1,4))

In [17]:
srs

0    5
1    3
2    1
3    4
dtype: int64

In [18]:
srs = pd.Series({1:1,2:2,3:3})

In [22]:
srs = pd.Series()

In [23]:
srs = pd.Series(np.array([5,6,7,5]))

In [25]:
srs

0    5
1    6
2    7
3    5
dtype: int32

In [2]:
import pandas as pd
import numpy as np
s = pd.Series()
print ("Is the Object empty?")
print(s.empty)

Is the Object empty?
True

In [3]:
srs = pd.Series([25,28,21,23,24,26,21],index = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"],name="Temp/Day")

In [4]:
srs

Sunday       25
Monday       28
Tuesday      21
Wednesday    23
Thursday     24
Friday       26
Saturday     21
Name: Temp/Day, dtype: int64

In [5]:
srs.mean()

24.0

In [6]:
srs[srs>srs.mean()]

Sunday    25
Monday    28
Friday    26
Name: Temp/Day, dtype: int64

In [8]:
srs = pd.Series(["Blue","Yellow"],index=[0,1],dtype="category")

In [9]:
srs

0      Blue
1    Yellow
dtype: category
Categories (2, object): ['Blue', 'Yellow']

In [10]:
srs.cat.ordered

False

In [12]:
len(dir(srs))

419

In [13]:
srs.str.capitalize()

0      Blue
1    Yellow
dtype: object

In [14]:
srs.str.upper()

0      BLUE
1    YELLOW
dtype: object

In [16]:
srs.str.replace("l","#$")

0       B#$ue
1    Ye#$#$ow
dtype: object

In [17]:
srs

0      Blue
1    Yellow
dtype: category
Categories (2, object): ['Blue', 'Yellow']

In [19]:
srs

0      Blue
1    Yellow
dtype: category
Categories (2, object): ['Blue', 'Yellow']

In [22]:
srs = pd.Series([1,2,3,4],index = [1,2,3,1])
srs2 = pd.Series([4,3,2,1],index = [1,2,3,4])

In [31]:
srs.add(srs2,fill_value=4)

1    5.0
1    8.0
2    5.0
3    5.0
4    5.0
dtype: float64

In [32]:
srs.add(10)

1    11
2    12
3    13
1    14
dtype: int64

In [33]:
srs.mul(10)

1    10
2    20
3    30
1    40
dtype: int64

In [34]:
srs.multiply(20)

1    20
2    40
3    60
1    80
dtype: int64

In [35]:
srs.mean()

2.5

In [36]:
srs.sum()

10

In [37]:
srs.std()

1.2909944487358056

In [38]:
srs.var()

1.6666666666666667

In [40]:
srs.is_monotonic_increasing

True

In [41]:
srs.is_monotonic_decreasing

False

In [42]:
srs.is_unique

True

In [46]:
quantiles_of_srs = srs.quantile([0.25,0.50,0.75])

In [47]:
quantiles_of_srs

0.25    1.75
0.50    2.50
0.75    3.25
dtype: float64

In [49]:
quantiles_of_srs.mean()

2.5

In [51]:
srs.agg('mean')

2.5

In [54]:
def mm(s):
    return s.max()

In [57]:
srs

1    1
2    2
3    3
1    4
dtype: int64

In [56]:
srs.agg(['mean','median',mm])

mean      2.5
median    2.5
mm        4.0
dtype: float64

In [62]:
srs.count()

4

In [60]:
srs.size

4

In [64]:
srs.nunique()

4

In [65]:
srs.max()

4

In [1]:
import pandas as pd

In [7]:
srs = pd.Series([25,28,27,34,25,31,26])

In [8]:
srs.name="Temperature"

In [10]:
srs.mean()

28.0

In [13]:
srs.agg(["mean","sum","quantile"])
srs.quantile([0.1,0.2,0.3,0.4,0.5])

0.1    25.0
0.2    25.2
0.3    25.8
0.4    26.4
0.5    27.0
Name: Temperature, dtype: float64

In [14]:
srs

0    25
1    28
2    27
3    34
4    25
5    31
6    26
Name: Temperature, dtype: int64

In [15]:
srs.max()

34

In [17]:
srs.astype("i1")

0    25
1    28
2    27
3    34
4    25
5    31
6    26
Name: Temperature, dtype: int8

In [18]:
import numpy as np

In [25]:
np.iinfo("i4")

iinfo(min=-2147483648, max=2147483647, dtype=int32)

In [26]:
df = pd.read_csv(r"C:\Users\CHROMIUM\Desktop\SMEC LAB\Datascience\Dataset\vehicles.csv")

C:\Users\CHROMIUM\AppData\Local\Temp\ipykernel_19716\2248714282.py:1: DtypeWarning: Columns (68,70,71,72,73,74,76,79) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r"C:\Users\CHROMIUM\Desktop\SMEC LAB\Datascience\Dataset\vehicles.csv")

In [34]:
city_mpg = df.city08
highway_mpg = df.highway08

In [35]:
city_mpg

0        19
1         9
2        23
3        10
4        17
         ..
41139    19
41140    20
41141    18
41142    18
41143    16
Name: city08, Length: 41144, dtype: int64

In [36]:
city_mpg.convert_dtypes()

0        19
1         9
2        23
3        10
4        17
         ..
41139    19
41140    20
41141    18
41142    18
41143    16
Name: city08, Length: 41144, dtype: Int64

In [29]:
city_mpg.mean()

18.369045304297103

In [37]:
city_mpg.astype("Int16")

0        19
1         9
2        23
3        10
4        17
         ..
41139    19
41140    20
41141    18
41142    18
41143    16
Name: city08, Length: 41144, dtype: Int16

In [38]:
city_mpg.nbytes

329152

In [39]:
city_mpg.astype('i1').nbytes

41144

In [41]:
np.iinfo("int16")

iinfo(min=-32768, max=32767, dtype=int16)

In [53]:
make = df.make

In [54]:
type(make)

pandas.core.series.Series

In [55]:
make.dtype

dtype('O')

In [57]:
make.nbytes

329152

In [60]:
make.memory_usage(deep=True)

2606399

In [61]:
make.astype("category").memory_usage(deep=True)

95892

In [65]:
make.to_frame()

             make
0      Alfa Romeo
1         Ferrari
2           Dodge
3           Dodge
4          Subaru
...           ...
41139      Subaru
41140      Subaru
41141      Subaru
41142      Subaru
41143      Subaru

[41144 rows x 1 columns]

In [68]:
city_mpg[city_mpg.gt(20)].shape

(10272,)

In [77]:
make.value_counts()

make
Chevrolet                      4003
Ford                           3371
Dodge                          2583
GMC                            2494
Toyota                         2071
                               ...
Volga Associated Automobile       1
Panos                             1
Mahindra                          1
Excalibur Autos                   1
London Coach Co Inc               1
Name: count, Length: 136, dtype: int64

In [78]:
top5 = make.value_counts().index[:5]

In [79]:
top5

Index(['Chevrolet', 'Ford', 'Dodge', 'GMC', 'Toyota'], dtype='object', name='make')

In [80]:
def gen5(val):
    if val in top5:
        return val
    else:
        return "Other"

In [81]:
make.apply(gen5)

0        Other
1        Other
2        Dodge
3        Dodge
4        Other
         ...
41139    Other
41140    Other
41141    Other
41142    Other
41143    Other
Name: make, Length: 41144, dtype: object

In [82]:
make.where(make.isin(top5),other="Other")

0        Other
1        Other
2        Dodge
3        Dodge
4        Other
         ...
41139    Other
41140    Other
41141    Other
41142    Other
41143    Other
Name: make, Length: 41144, dtype: object

In [ ]:
make.mask(~make.isin(top5),other="Others")

0        Others
1        Others
2         Dodge
3         Dodge
4        Others
          ...
41139    Others
41140    Others
41141    Others
41142    Others
41143    Others
Name: make, Length: 41144, dtype: object

In [87]:
top10 = make.value_counts().index[:10]

In [99]:
(make.where ( make . isin ( top5 ) , ' Top10 ').where( make . isin ( top10 ) , ' Others ')).value_counts()

make
 Others      19400
 Top10        7222
Chevrolet     4003
Ford          3371
Dodge         2583
GMC           2494
Toyota        2071
Name: count, dtype: int64

In [95]:
srs = pd.Series(np.select([make.isin(top5),make.isin(top10)],[make,"Top10"],"Others"))

In [96]:
srs.value_counts()

Others       19400
Top10         7222
Chevrolet     4003
Ford          3371
Dodge         2583
GMC           2494
Toyota        2071
Name: count, dtype: int64

In [100]:
cyl =df.cylinders

In [101]:
cyl.isna().sum()

206

In [103]:
mask = cyl.isna()

In [109]:
make[mask]

7138     Nissan
7139     Toyota
8143     Toyota
8144       Ford
8146       Ford
          ...
34563     Tesla
34564     Tesla
34565     Tesla
34566     Tesla
34567     Tesla
Name: make, Length: 206, dtype: object

In [111]:
cyl[cyl.isna()]

7138    NaN
7139    NaN
8143    NaN
8144    NaN
8146    NaN
         ..
34563   NaN
34564   NaN
34565   NaN
34566   NaN
34567   NaN
Name: cylinders, Length: 206, dtype: float64

In [115]:
cyl.interpolate().mean()

5.714757923391017

In [116]:
cyl.fillna(0).mean()

5.6884600427765895

In [117]:
cyl.dropna().mean()

5.717084371488593

In [118]:
cyl.ffill().mean()

5.715049581956057

In [119]:
cyl.fillna(cyl.mean()).mean()

5.717084371488592

In [120]:
cyl.fillna(500).mean()

8.191862726035389

In [127]:
city_mpg.sort_values(ascending=False)

32599    150
31256    150
33423    150
34564    140
34563    138
        ...
21060      6
35887      6
37161      6
7901       6
34557      6
Name: city08, Length: 41144, dtype: int64

In [130]:
city_mpg.sort_values().sort_index().sort_values(ascending=True)

7901       6
34557      6
37161      6
21060      6
35887      6
        ...
34563    138
34564    140
32599    150
31256    150
33423    150
Name: city08, Length: 41144, dtype: int64

In [137]:
city_mpg.where(city_mpg>100,"Others").value_counts()

city08
Others    41034
126          16
122          11
124          10
101           8
128           8
120           7
102           6
110           5
121           5
137           4
112           3
118           3
150           3
129           3
132           3
138           2
106           2
136           2
127           1
115           1
140           1
114           1
107           1
123           1
125           1
131           1
104           1
Name: count, dtype: int64

In [143]:
city_mpg.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
41139     True
41140     True
41141     True
41142     True
41143     True
Name: city08, Length: 41144, dtype: bool

In [145]:
city_mpg.drop_duplicates().count()

105

In [149]:
pd.qcut(city_mpg,10,labels=list(range(1,11))).value_counts().sort_index()

city08
1     6019
2     2969
3     4503
4     3975
5     4035
6     4053
7     5318
8     2532
9     4036
10    3704
Name: count, dtype: int64