In [155]:
import pandas as pd

In [156]:
df = pd.read_csv(r"C:\Users\CHROMIUM\Desktop\SMEC LAB\Datascience\Dataset\imdb_top_1000.csv")

In [157]:
df10 = df.head(10)

In [158]:
for i,j in df10.iterrows():
    if i == 5:
        cd = j

In [159]:
cd.iloc[0:4]

Poster_Link      https://m.media-amazon.com/images/M/MV5BNzA5ZD...
Series_Title         The Lord of the Rings: The Return of the King
Released_Year                                                 2003
Certificate                                                      U
Name: 5, dtype: object

In [160]:
for row in df10.itertuples():
    print(row[-3])

William Sadler
Diane Keaton
Michael Caine
Diane Keaton
John Fiedler
Orlando Bloom
Bruce Willis
Caroline Goodall
Ken Watanabe
Zach Grenier

In [161]:
reindexeddf10 = df10.reindex(index=[8,7,5,6,2,1,3,4,9])

In [162]:
reindexeddf10.sort_index(axis=0,ascending=False)

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
9,https://m.media-amazon.com/images/M/MV5BMmEzNT...,Fight Club,1999,A,139 min,Drama,8.8,An insomniac office worker and a devil-may-car...,66.0,David Fincher,Brad Pitt,Edward Norton,Meat Loaf,Zach Grenier,1854740,"37,030,102"
8,https://m.media-amazon.com/images/M/MV5BMjAxMz...,Inception,2010,UA,148 min,"Action, Adventure, Sci-Fi",8.8,A thief who steals corporate secrets through t...,74.0,Christopher Nolan,Leonardo DiCaprio,Joseph Gordon-Levitt,Elliot Page,Ken Watanabe,2067042,"292,576,195"
7,https://m.media-amazon.com/images/M/MV5BNDE4OT...,Schindler's List,1993,A,195 min,"Biography, Drama, History",8.9,"In German-occupied Poland during World War II,...",94.0,Steven Spielberg,Liam Neeson,Ralph Fiennes,Ben Kingsley,Caroline Goodall,1213505,"96,898,818"
6,https://m.media-amazon.com/images/M/MV5BNGNhMD...,Pulp Fiction,1994,A,154 min,"Crime, Drama",8.9,"The lives of two mob hitmen, a boxer, a gangst...",94.0,Quentin Tarantino,John Travolta,Uma Thurman,Samuel L. Jackson,Bruce Willis,1826188,"107,928,762"
5,https://m.media-amazon.com/images/M/MV5BNzA5ZD...,The Lord of the Rings: The Return of the King,2003,U,201 min,"Action, Adventure, Drama",8.9,Gandalf and Aragorn lead the World of Men agai...,94.0,Peter Jackson,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,1642758,"377,845,905"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"

In [163]:
reindexeddf10.sort_values(by=["Released_Year","IMDB_Rating"],ascending=[False,True])

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
8,https://m.media-amazon.com/images/M/MV5BMjAxMz...,Inception,2010,UA,148 min,"Action, Adventure, Sci-Fi",8.8,A thief who steals corporate secrets through t...,74.0,Christopher Nolan,Leonardo DiCaprio,Joseph Gordon-Levitt,Elliot Page,Ken Watanabe,2067042,"292,576,195"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
5,https://m.media-amazon.com/images/M/MV5BNzA5ZD...,The Lord of the Rings: The Return of the King,2003,U,201 min,"Action, Adventure, Drama",8.9,Gandalf and Aragorn lead the World of Men agai...,94.0,Peter Jackson,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,1642758,"377,845,905"
9,https://m.media-amazon.com/images/M/MV5BMmEzNT...,Fight Club,1999,A,139 min,Drama,8.8,An insomniac office worker and a devil-may-car...,66.0,David Fincher,Brad Pitt,Edward Norton,Meat Loaf,Zach Grenier,1854740,"37,030,102"
6,https://m.media-amazon.com/images/M/MV5BNGNhMD...,Pulp Fiction,1994,A,154 min,"Crime, Drama",8.9,"The lives of two mob hitmen, a boxer, a gangst...",94.0,Quentin Tarantino,John Travolta,Uma Thurman,Samuel L. Jackson,Bruce Willis,1826188,"107,928,762"
7,https://m.media-amazon.com/images/M/MV5BNDE4OT...,Schindler's List,1993,A,195 min,"Biography, Drama, History",8.9,"In German-occupied Poland during World War II,...",94.0,Steven Spielberg,Liam Neeson,Ralph Fiennes,Ben Kingsley,Caroline Goodall,1213505,"96,898,818"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

In [164]:
import numpy as np
s = pd.Series(['Tom', 'William Rick', 'John', 'Alber@t', np.nan, '1234','SteveSmith'])
s= s.str.lower()
print(s)

0             tom
1    william rick
2            john
3         alber@t
4             NaN
5            1234
6      stevesmith
dtype: object

In [165]:
df.Director = df.Director.str.upper()

In [166]:
pd.get_option("display.max_rows")

60

In [167]:
df60 = df.head(60)

In [168]:
df100 = df.head(100)

In [169]:
pd.set_option("display.max_rows",100)

In [170]:
pd.get_option("display.max_rows")

100

In [171]:
pd.get_option("display.max_columns")

20

In [172]:
df.columns

Index(['Poster_Link', 'Series_Title', 'Released_Year', 'Certificate',
       'Runtime', 'Genre', 'IMDB_Rating', 'Overview', 'Meta_score', 'Director',
       'Star1', 'Star2', 'Star3', 'Star4', 'No_of_Votes', 'Gross'],
      dtype='object')

In [173]:
pd.describe_option("display.max_columns")

display.max_columns : int
    If max_cols is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 or None and pandas will auto-detect
    the width of the terminal and print a truncated object which fits
    the screen width. The IPython notebook, IPython qtconsole, or IDLE
    do not run in a terminal and hence it is not possible to do
    correct auto-detection and defaults to 20.
    [default: 20] [currently: 20]

In [174]:
pd.reset_option("display.max_rows")

In [175]:
pd.get_option("display.max_rows")

60

In [176]:
df.columns

Index(['Poster_Link', 'Series_Title', 'Released_Year', 'Certificate',
       'Runtime', 'Genre', 'IMDB_Rating', 'Overview', 'Meta_score', 'Director',
       'Star1', 'Star2', 'Star3', 'Star4', 'No_of_Votes', 'Gross'],
      dtype='object')

In [177]:
df.loc[df.IMDB_Rating>8].shape[0]

322

In [178]:
# df = pd.DataFrame(np.random.randn(8, 4),
# index = ['a','b','c','d','e','f','g','h'], columns = ['A', 'B', 'C', 'D'])

In [179]:
df[2:4]

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,CHRISTOPHER NOLAN,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,FRANCIS FORD COPPOLA,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"

In [180]:
df.cov(numeric_only=True)

              IMDB_Rating    Meta_score   No_of_Votes
IMDB_Rating      0.075895      0.942946  4.464130e+04
Meta_score       0.942946    153.167835 -7.828702e+04
No_of_Votes  44641.300488 -78287.015080  1.071729e+11

In [181]:
df.IMDB_Rating.cov(df.Meta_score)

0.9429455372313

In [182]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   object
 1   Series_Title   1000 non-null   object
 2   Released_Year  1000 non-null   object
 3   Certificate    899 non-null    object
 4   Runtime        1000 non-null   object
 5   Genre          1000 non-null   object
 6   IMDB_Rating    1000 non-null   float64
 7   Overview       1000 non-null   object
 8   Meta_score     843 non-null    float64
 9   Director       1000 non-null   object
 10  Star1          1000 non-null   object
 11  Star2          1000 non-null   object
 12  Star3          1000 non-null   object
 13  Star4          1000 non-null   object
 14  No_of_Votes    1000 non-null   int64
 15  Gross          831 non-null    object
dtypes: float64(2), int64(1), object(13)
memory usage: 125.1+ KB

In [183]:
df.drop(columns="Poster_Link",inplace=True)

In [184]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series_Title   1000 non-null   object
 1   Released_Year  1000 non-null   object
 2   Certificate    899 non-null    object
 3   Runtime        1000 non-null   object
 4   Genre          1000 non-null   object
 5   IMDB_Rating    1000 non-null   float64
 6   Overview       1000 non-null   object
 7   Meta_score     843 non-null    float64
 8   Director       1000 non-null   object
 9   Star1          1000 non-null   object
 10  Star2          1000 non-null   object
 11  Star3          1000 non-null   object
 12  Star4          1000 non-null   object
 13  No_of_Votes    1000 non-null   int64
 14  Gross          831 non-null    object
dtypes: float64(2), int64(1), object(12)
memory usage: 117.3+ KB

In [185]:
df.drop("Overview",axis=1,inplace=True)

In [186]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series_Title   1000 non-null   object
 1   Released_Year  1000 non-null   object
 2   Certificate    899 non-null    object
 3   Runtime        1000 non-null   object
 4   Genre          1000 non-null   object
 5   IMDB_Rating    1000 non-null   float64
 6   Meta_score     843 non-null    float64
 7   Director       1000 non-null   object
 8   Star1          1000 non-null   object
 9   Star2          1000 non-null   object
 10  Star3          1000 non-null   object
 11  Star4          1000 non-null   object
 12  No_of_Votes    1000 non-null   int64
 13  Gross          831 non-null    object
dtypes: float64(2), int64(1), object(11)
memory usage: 109.5+ KB

In [187]:
df.dropna(subset="Certificate",inplace=True)

In [188]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 899 entries, 0 to 997
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series_Title   899 non-null    object
 1   Released_Year  899 non-null    object
 2   Certificate    899 non-null    object
 3   Runtime        899 non-null    object
 4   Genre          899 non-null    object
 5   IMDB_Rating    899 non-null    float64
 6   Meta_score     787 non-null    float64
 7   Director       899 non-null    object
 8   Star1          899 non-null    object
 9   Star2          899 non-null    object
 10  Star3          899 non-null    object
 11  Star4          899 non-null    object
 12  No_of_Votes    899 non-null    int64
 13  Gross          785 non-null    object
dtypes: float64(2), int64(1), object(11)
memory usage: 105.4+ KB

In [189]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 899 entries, 0 to 997
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series_Title   899 non-null    object
 1   Released_Year  899 non-null    object
 2   Certificate    899 non-null    object
 3   Runtime        899 non-null    object
 4   Genre          899 non-null    object
 5   IMDB_Rating    899 non-null    float64
 6   Meta_score     787 non-null    float64
 7   Director       899 non-null    object
 8   Star1          899 non-null    object
 9   Star2          899 non-null    object
 10  Star3          899 non-null    object
 11  Star4          899 non-null    object
 12  No_of_Votes    899 non-null    int64
 13  Gross          785 non-null    object
dtypes: float64(2), int64(1), object(11)
memory usage: 105.4+ KB

In [190]:
pd.options.display.max_rows = 60
df.Released_Year.value_counts()

Released_Year
2014    31
2004    29
2016    27
2013    26
2001    25
        ..
1921     1
1924     1
1925     1
1941     1
PG       1
Name: count, Length: 96, dtype: int64

In [191]:
df.Released_Year.mode()

0    2014
Name: Released_Year, dtype: object

In [192]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 899 entries, 0 to 997
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series_Title   899 non-null    object
 1   Released_Year  899 non-null    object
 2   Certificate    899 non-null    object
 3   Runtime        899 non-null    object
 4   Genre          899 non-null    object
 5   IMDB_Rating    899 non-null    float64
 6   Meta_score     787 non-null    float64
 7   Director       899 non-null    object
 8   Star1          899 non-null    object
 9   Star2          899 non-null    object
 10  Star3          899 non-null    object
 11  Star4          899 non-null    object
 12  No_of_Votes    899 non-null    int64
 13  Gross          785 non-null    object
dtypes: float64(2), int64(1), object(11)
memory usage: 105.4+ KB

In [193]:
df["Released_Year"] = pd.to_numeric(df["Released_Year"],errors="coerce")

In [194]:
df["Released_Year"].info()

<class 'pandas.core.series.Series'>
Index: 899 entries, 0 to 997
Series name: Released_Year
Non-Null Count  Dtype
--------------  -----
898 non-null    float64
dtypes: float64(1)
memory usage: 14.0 KB

In [195]:
df.loc[df["Released_Year"].isna()]

,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
966,Apollo 13,NaN,U,140 min,"Adventure, Drama, History",7.6,77.0,RON HOWARD,Tom Hanks,Bill Paxton,Kevin Bacon,Gary Sinise,269197,"173,837,933"

In [196]:
df.dropna(subset="Released_Year",inplace=True)

In [197]:
df["Released_Year"].isna().sum()

0

In [198]:
df["Released_Year"] = df["Released_Year"].astype("int")

In [199]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 898 entries, 0 to 997
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series_Title   898 non-null    object
 1   Released_Year  898 non-null    int32
 2   Certificate    898 non-null    object
 3   Runtime        898 non-null    object
 4   Genre          898 non-null    object
 5   IMDB_Rating    898 non-null    float64
 6   Meta_score     786 non-null    float64
 7   Director       898 non-null    object
 8   Star1          898 non-null    object
 9   Star2          898 non-null    object
 10  Star3          898 non-null    object
 11  Star4          898 non-null    object
 12  No_of_Votes    898 non-null    int64
 13  Gross          784 non-null    object
dtypes: float64(2), int32(1), int64(1), object(10)
memory usage: 101.7+ KB

In [200]:
df.head(2)

,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,The Shawshank Redemption,1994,A,142 min,Drama,9.3,80.0,FRANK DARABONT,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,The Godfather,1972,A,175 min,"Crime, Drama",9.2,100.0,FRANCIS FORD COPPOLA,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"

In [201]:
# df.columns = df.columns.str.replace("C","DD")

In [202]:
# df.columns = df.columns.str.lower()

In [238]:
grp = df.groupby("Certificate")

In [248]:
votes_avg_votes = pd.DataFrame(grp["No_of_Votes"].mean())

In [249]:
type(votes_avg_votes)

pandas.core.frame.DataFrame

In [ ]:
grp.

               No_of_Votes
Certificate
16            47708.000000
A            428215.045685
Approved      71679.727273
G            134312.500000
GP            45386.000000
PG           101580.567568
PG-13        144101.976744
Passed        73523.088235
R            212991.869863
TV-14         33935.000000
TV-MA        141516.000000
TV-PG         34376.000000
U            256050.175966
U/A          140840.000000
UA           439032.582857
Unrated       66803.000000